* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
}

body {
    margin: 1.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--clr-cream);
}

.card-container {
    width: 700px;
    border-radius: 1em;
    display: flex;
    height: 500px;
    background-color: var(--clr-white);
    margin-bottom: 1.5em;
    position: absolute;
}

img {
    margin: 0;
    padding: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.info-text{
    padding: 2em;
}

.title-category{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 1em;
    color: var(--clr-grayish-blue);
}

.product-name{
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 1em;
    width: 250px;
}

.product-description {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    color: var(--clr-grayish-blue);
    width: 300px;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.price-current {
    font-family: fraunces, serif;
    font-size: 2em;
    font-weight: 600;
    color: var(--clr-dark-cyan);
    padding-right: 1em;
}

.price-discount {
    color: var(--clr-grayish-blue);
    text-decoration: line-through;
}

button {
    width: 95%;
    height: 50px;
    border-radius: .8em;
    background-color: var(--clr-dark-cyan);
    color: white;
    text-decoration: none;
    border: none;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
}

button > img,
button > span {
  /* vertical-align: middle; */
  padding-left: 2px;
  transform: scaleX(-1);
}

button:hover {
    background-color: var(--clr-dark-blue);
}

@media screen and (max-width: 375px){
    .card-container {
        width: 90%;
        height: 50vh;
        flex-direction: column;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        height: fit-content;
        margin-bottom: 1.5em;
    }
    .image1 {
        border-bottom-left-radius: 0;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        width: auto;
        /* height: auto; */
        background-position: top;
    }
    .product-description {
        width: 95%;
    }
}

@media (max-width: 1440px) {
    .card-container {
        max-width: 700px;
        justify-content: center;
    }
    .image1 {
        max-width: 100%;
        height: auto;
      }

}